header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 999;
}

.youtube-logo {
  margin-left: 14px;
  height: 100%;
}

.action-icons {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-right: 14px;
}

.cast-icon {
  height: 20px;
}

.notification-icon {
  height: 22px;
}

.search-icon {
  height: 20px;
}

.user-pfp {
  height: 24px;
}