footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 48px;
  background-color: white;
  z-index: 999;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div {
  display: flex;
  flex-direction: column;
}

.nav-name {
  color: black;
  font-size: 12px;
  text-align: center;
  margin-top: -16px;
  padding-bottom: 12px;
}

.home-icon {
  height: 48px;
  width: 54px;
  padding-bottom: 4px;
}


