.home-icon-container {
  position: relative;
}

.return-pop-up {
  position: absolute;
  white-space: nowrap;
  bottom: 15px;
  left: 60px;
  background-color: white;
  color: rgb(55, 144, 247);
  border-radius: 10px;
  padding: 6px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  font-weight: 600;
  font-size: 14px;
}

.home-icon-container:hover .return-pop-up {
  opacity: 1;
}