.main-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(32, 32, 32);
  height: 60px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.header-title-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header-title {
  color: white;
  font-size: 1.8rem;
  margin: 0;
  font-family: 'Cherry Swash', Arial;
  white-space: nowrap;
  font-weight: 500;
}

.hamburger-menu-icon-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 5%;
}

.hamburger-menu-icon {
  height: 55%;
  width: 100%;
}