body {
  margin: 0;
  background-color: rgb(14, 13, 15);
  font-family: Roboto, Arial;
}

p {
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

hr {
  width: 100%;
  height: 0;
  border-style: solid;
  border-color: rgb(63, 63, 63);
  background-color: rgb(63, 63, 63);
  margin: 0;
}

span {
  font-family: Roboto, Arial;
  margin: 0;
}

.scrollbar {
  position: absolute;
  top: 3.8em;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(170, 170, 170, 0.2);
}

@media screen and (min-width:1000px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 50, 50, 0.5);
  }
}