.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(55, 144, 247);
  height: 3.8em;
  z-index: 100;
}

.home-icon {
  width: 4em;
  height: 4em;
}

.header-title {
  color: white;
  font-family: 'Cherry Swash', Arial;
  font-size: 1.6em;
  text-align: center;
  margin-right: 1em;
}

.hamburger-menu-icon {
  width: 2.2em;
  height: 2.4em;
  margin-right: 1em;
}