.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(55, 144, 247);
  height: 60px;
  z-index: 100;
}

.home-icon-container {
  height: 60px;
  width: 60px;
}

.home-icon {
  height: 100%;
  width: 100
}

.header-title {
  color: white;
  font-family: 'Cherry Swash', Arial;
  font-size: 30px;
  text-align: center;
  margin-right: 16px;
}

.hamburger-menu-icon {
  width: 34px;
  height: 38px;
  margin-right: 16px;
}