.info-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000066;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  padding-top: 60px;
  padding-right: 7%;
  padding-left: 7%;
  transition: display 0.9s;
}

.info-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #F8F8FF;
  border-radius: 18px;
  box-shadow: 0 0 10px #00000066;
  z-index: 1001;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 34px;
}

.exit-modal-button {
  position: absolute;
  top: 2px;
  right: -4px;
  border: none;
  border-radius: 100%;
  padding: none;
  background-color: transparent;
}

.exit-icon {
  height: 30px;
}

.modal-title {
  color: #2E2D2C;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  text-align: center;
}

.modal-description {
  padding-top: 10px;
  color: #2E2D2C;
  text-align: center
}