.main-header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(92, 255, 179);
  height: 60px;
  box-shadow: 0 0 6px rgba(78, 78, 78, 0.2);
  transition: background-color 0.2s;
  padding: 0 5% 0 5%;
}

.hamburger-menu-icon {
  height: 55%;
}

.search-bar {
  display: flex;
  height: 55%;
}

.search-query {
  border: none;
  padding: 12px 0 10px 9px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  flex: 1;
  font-size: 18px;
  font-family: Roboto, Arial;
  color: gray;
}

.search-query:focus {
  outline: none;
}

.search-query::placeholder {
  transition: color 0.11s;
  font-size: 18px;
  color: lightgray;
  font-family: Roboto, Arial;
}

.search-query:focus::placeholder {
  color: transparent;
  
}

.search-button {
  height: 100%;
  padding: 0 4px 0 0;
  border: none;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  margin-left: -2px;
  margin-right: -10px;
}

.search-button:hover {
  cursor: pointer;
}

.search-icon {
  height: 100%;
}

.change-contrast-button {
  height: 50px;
  border: none;
  background-color: transparent;
  border-radius: 35px;
  margin-right: -10px;
}

.change-contrast-button:hover {
  cursor: pointer;
}

#contrast {
  margin-top: 4px;
  height: 80%;
}
