.main-header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5CFFB3;
  height: 60px;
  box-shadow: 0 0 6px #4E4E4E33;
  transition: background-color 0.2s, box-shadow 0.2s;
  padding: 0 5% 0 5%;
}

.info-icon {
  height: 42px;
  margin-bottom: -10px;
  margin-left: -8px;
  display: flex;
  align-items: center;
}

.search-form {
  margin-left: -4px;
  height: 34px;
  flex: 0.4;
  display: flex;
}

.search-query {
  border: none;
  padding-left: 12px;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  flex: 1;
  font-size: 18px;
  font-family: Roboto, Arial;
  color: #808080;
}

.search-query:focus {
  outline: none;
}

.search-query::placeholder {
  transition: color 0.11s;
  font-size: 18px;
  color: #D3D3D3;
  font-family: Roboto, Arial;
  transition: color 0.12s;
}

.search-query:focus::placeholder {
  color: transparent;
}

.search-label {
  position: relative;
  height: 34px;
  width: 36px;
  border: none;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  margin-left: -2px;
  margin-right: -10px;
  background-color: white;
}

.search-label:hover {
  cursor: pointer;
}

.light-search-icon, .dark-search-icon {
  position: absolute;
  top: 0;
  right: 3px;
  height: 100%;
  transition: opacity 0.2s;
}

.dark-search-icon {
  opacity: 0;
}

.change-contrast-button {
  height: 50px;
  border: none;
  background-color: transparent;
  border-radius: 35px;
  margin-right: -10px;
}

.change-contrast-button:hover {
  cursor: pointer;
}

#contrast {
  margin-top: 4px;
  height: 80%;
}
