.main-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: rgb(24, 24, 24);
  height: 60px;
  box-shadow: 0 0 6px rgba(102, 102, 102, 0.2);
}

.header-title-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.header-title {
  color: white;
  font-size: 1.8rem;
  margin: 0 12.5% 0 0;
  font-family: 'Cherry Swash', Arial;
  white-space: nowrap;
  font-weight: 500;
}

.hamburger-menu-icon-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 5%;
}

.hamburger-menu-icon {
  height: 55%;
  width: 100%;
}