@media screen and (min-width: 1000px) {
  .nav {
    position: fixed;
    top: 3.8em;
    bottom: 0;
    left: 0;
    width: 12%;
    background-color: rgb(39, 39, 39);
    min-width: 160px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
}