.project-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.project-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 1.2em;
}

@media screen and (min-width: 1000px) {
  .project-list {
    padding-left: 10px;
  }
}

.project-slip {
  display: flex;
  height: 70px;
  border-radius: 10px;
}

.project-cover {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.project-details {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  width: 100%;
}

.top-details {
  display: flex;
  width: 100%;
  height: 21.5px;
  justify-content: space-between;
}

.project-name-link {
  font-family: Roboto, Arial;
  color: rgb(255, 255, 255);
  background-color: rgb(134, 241, 197);
  padding: 0 6px 0 6px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.project-name-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-name {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  transition: color 0.2s;
}

.last-updated {
  color: rgb(110, 110, 110);
  margin-top: 4px;
  font-size: 14px;
  transition: color 0.2s;
}

.description {
  font-size: 15px;
  color: rgb(124, 124, 124);
  margin-top: 6px;  
  line-height: 16px;
  transition: color 0.2s;
}

@media (min-width: 1000px) {
  .project-list {
    width: 60%;
    justify-content: space-around;
  }
}