.project-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  
}

.project-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 1.2em;
}

.project-slip {
  display: flex;
  height: 70px;
  border-radius: 10px;
}

.project-cover {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.project-details {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  width: 100%;
}

.top-details {
  display: flex;
  width: 100%;
  height: 21.5px;
  justify-content: space-between;
}

.project-name-link {
  position: relative;
  font-family: Roboto, Arial;
  color: #FFFFFF;
  transition: background-image 0.9s;
  vertical-align: center;
}

.dark-project-name-container {
  position: absolute;
  height: 100%;
  border-radius: 5px;
  padding: 0 6px 1px 6px;
  background-image: linear-gradient(45deg, #F54B64, #F78361);
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.dark-project-name {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  transition: color 0.2s;
}

.light-project-name-container {
  background-image: linear-gradient(45deg, #00E3B8, #5CFFB3);
  padding: 0 6px 1px 6px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 100%;
  transition: opacity 0.2s;
}

.light-project-name {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  transition: color 0.2s;
}

.last-updated {
  color: #6E6E6E;
  margin-top: 4px;
  font-size: 14px;
  transition: color 0.2s;
}

.description {
  font-size: 15px;
  color: #818181;
  margin-top: 6px;  
  line-height: 16px;
  transition: color 0.2s;
}

@media (min-width: 1000px) {
  .project-list {
    width: 60%;
    justify-content: space-around;
  }
}
